---
import { ClientRouter } from 'astro:transitions';

import '../styles/global.css';

import { $locale } from '@/stores/locale';
import type { Locale } from '@/utils/i18n';

interface Props {
  author?: string;
  description?: string;
  image?: string;
  imageAlt?: string;
  keywords?: string;
  locale?: string;
  title?: string;
  url?: string;
}

const {
  author = 'Yago Russo',
  title = 'Astro',
  description,
  image,
  imageAlt,
  keywords,
  locale,
  url,
} = Astro.props;

const currentLocale = (locale ?? Astro.currentLocale ?? 'en') as Locale;
$locale.set(currentLocale);

const previews = {
  pt: '/preview-pt.png',
  en: '/preview-en.png',
};

const preview = image ?? previews[currentLocale];
---

<!doctype html>
<html class="light scroll-smooth" lang={currentLocale}>
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content={author} />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="image" content={preview} />
    <meta name="keywords" content={keywords} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={preview} />
    <meta property="og:image:alt" content={imageAlt || title} />
    <meta property="og:locale" content={currentLocale} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={preview} />
    <meta name="twitter:image:alt" content={imageAlt || title} />
    <link rel="icon" type="image/svg+xml" href="/leaked-cards/favicon.svg" />
    <ClientRouter />
  </head>
  <slot />
</html>

<script>
  import type { Locale } from "@/utils/i18n"

  import { $locale } from "@/stores/locale"
  import { $theme } from "@/stores/theme"

  document.addEventListener("astro:page-load", () => {
    const currentLang = document.documentElement.lang
    if (currentLang && currentLang !== $locale.get()) $locale.set(currentLang as Locale)
  })

  $theme.subscribe((theme) => {
    document.documentElement.dataset.theme = theme
  })
</script>
